/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}
*/

h1,h2,h3,h4,h5,h6,p {font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;}

h1 { border-bottom: 1px solid black; padding: 10px; }

main {width: 900px;
margin: 0 auto; }

.outer_wrap { display: flex; }

.inner { width: 50%; padding: 10px; }

.rectangle1 {
          background-color:#642240; 
          width: 600px;
          height: 100px; 
        }

.rectangle2 {
          background-color: #d3cbc4; 
          width: 300px;
          height: 100px;
        }

.rectangle3 {
          background-color: #281822; 
          width: 100px;
          height: 100px;
        }

.title{
	border-bottom:1px solid black;
}

.container{
	display: flex;
	justify-content:space-around;
	max-width:100%;
	}
.box {
  width:100%;
  margin-top:25px;
}

  .slider {
      width: 900px;
      max-width: 600px;
      margin: auto;
	  justify-content: center;
  }
  .slider img {
      width: 100%;
      height: auto;
      border-radius: 10px;
  }
